<template name="adminOrders">
	{{#if user.admin}}
		<div class="page">
			<div class="page-main">
				<div class="header py-4">
					<div class="container">
						<div class="d-flex">
							<div class="d-flex order-lg-2 ml-auto">
								<div class="dropdown">
									<a href="#" class="nav-link pr-0 leading-none" data-toggle="dropdown">
										<span class="avatar" style="background-image: url({{user.services.google.picture}})"></span>
										<span class="ml-2 d-none d-lg-block">
											<span class="text-default">{{user.services.google.name}}</span>
											<small class="text-muted d-block mt-1">Administrador</small>
										</span>
									</a>
									<div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
										<a class="dropdown-item logout" href="#">
											Logout
										</a>
									</div>
								</div>
							</div>
							<a href="#" class="header-toggler d-lg-none ml-3 ml-lg-0" data-toggle="collapse" data-target="#headerMenuCollapse">
								<span class="header-toggler-icon"></span>
							</a>
						</div>
					</div>
				</div>
				<div class="header collapse d-lg-flex p-0" id="headerMenuCollapse">
					<div class="container">
						<div class="row align-items-center">
							<div class="col-lg order-lg-first">
								<ul class="nav nav-tabs border-0 flex-column flex-lg-row">
									<li class="nav-item"> <a href="/admin" class="nav-link"> Dashboard</a> </li>
									<li class="nav-item"> <a href="/admin/clientes" class="nav-link"> Clientes</a> </li>
									<li class="nav-item"> <a href="/admin/pedidos" class="nav-link active"> Pedidos</a> </li>
									<li class="nav-item"> <a href="/admin/cozinha" class="nav-link"> Cozinha</a> </li>
									<li class="nav-item"> <a href="/admin/balcao" class="nav-link"> Balcão</a> </li>
									<li class="nav-item"> <a href="/admin/settings" class="nav-link"> Configurações</a> </li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="my-3 my-md-5">
					<div class="container">
						<div class="page-header">
							<h1 class="page-title">
								Pedidos
							</h1>
							<div class="page-options d-flex">
								<select class="form-control custom-select w-auto sort">
									<option value="createdAt:-1">Mais Novo</option>
									<option value="createdAt:1">Mais Antigo</option>
									<option value="item:1">Por produto</option>
									<option value="code:1">Por cliente</option>
									<option value="status:1">Por status</option>
								</select>
							</div>
						</div>
						<div class="row row-cards">
							{{#if adding}}
								<div class="col-lg-4">
									<form class="card">
										<div class="card-body">
											<div class="form-group">
												<div class="form-label">Código</div>
												<input type="number" id="code" class="form-control" value="{{customer.code}}" />
											</div>
											<div class="form-group">
												<div class="form-label">Item</div>
												<select id="item" class="form-control">
													<option name="entry">Ingresso</option>
													{{#each items}}
														<option name="{{name}}" data-price="{{price}}">{{title}}</option>
													{{/each}}
												</select>
											</div>
											<div class="form-group">
												<div class="form-label">Quantidade</div>
												<input type="number" id="quantity" class="form-control" value="1" />
											</div>
											<div class="form-group">
												<div class="form-label">Preço</div>
												<input type="text" id="price" class="form-control" value="{{moneyFormat 5}}" />
											</div>
											<div class="form-group">
												<div class="form-label">Pré-compra</div>
												<input type="checkbox" id="preorder" class="form-control" value="1" />
											</div>
										</div>
										<div class="card-footer text-right">
											<button class="btn btn-secondary cancel">Cancelar</button>
											<button class="btn btn-primary save-new">Salvar</button>
										</div>
									</form>
								</div>
							{{else}}
								<div class="col-lg-4">
									<form class="card">
										<div class="card-body">
											<div class="form-group">
												<div class="form-label">Código</div>
												<input type="text" id="filterCode" class="form-control" />
											</div>
											<div class="form-group">
												<div class="form-label">Nome</div>
												<input type="text" id="filterName" class="form-control" />
											</div>
										</div>
										<div class="card-footer text-right">
											<button class="btn btn-tertiary search">Pesquisar</button>
										</div>
									</form>
									<button class="btn btn-primary new">Novo</button>
								</div>
							{{/if}}
							<div class="col-lg-8">
								<div class="card">
									<table class="table card-table table-vcenter">
										<tr>
											<th>Nome</th>
											<th>Mesa</th>
											<th>Pedido</th>
											<th>R$</th>
											<th>Horário</th>
											<th>Status</th>
											<th class="w-1"></th>
										</tr>
										{{#each orders}}
											<tr>
												<td><div>{{name}}</div><div class="small text-muted"> {{code}} </div></td>
												<td>{{table}}</td>
												<td>{{title}}</td>
												<td>{{moneyFormat price}}</td>
												<td><div>{{getTime createdAt}}</div><div class="small text-muted">{{getTimeDiff createdAt}} minutos atrás</div></td>
												<td>{{status}}</td>
												<td>
													{{#if open}}
													<div class="selectgroup w-100">
														<span class="selectgroup-button selectgroup-button-icon trash"> <i class="fas fa-trash"></i> </span>
													</div>
													{{/if}}
												</td>
											</tr>
										{{/each}}
									</table>
								</div>
								<ul class="pagination ">
									<li class="page-item page-prev {{#unless hasLess}}disabled{{/unless}}">
										<a class="page-link" href="#" tabindex="-1">
											Anterior
										</a>
									</li>
									<li class="page-item page-next {{#unless hasMore}}disabled{{/unless}}">
										<a class="page-link" href="#">
											Próxima
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	{{/if}}
</template>
