<template name="adminDelivery">
	{{#if user.admin}}
		<div class="page">
			<div class="page-main">
				<div class="header py-4">
					<div class="container">
						<div class="d-flex">
							<div class="d-flex order-lg-2 ml-auto">
								<div class="dropdown">
									<a href="#" class="nav-link pr-0 leading-none" data-toggle="dropdown">
										<span class="avatar" style="background-image: url({{user.services.google.picture}})"></span>
										<span class="ml-2 d-none d-lg-block">
											<span class="text-default">{{user.services.google.name}}</span>
											<small class="text-muted d-block mt-1">Administrador</small>
										</span>
									</a>
									<div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
										<a class="dropdown-item logout" href="#">
											Logout
										</a>
									</div>
								</div>
							</div>
							<a href="#" class="header-toggler d-lg-none ml-3 ml-lg-0" data-toggle="collapse" data-target="#headerMenuCollapse">
								<span class="header-toggler-icon"></span>
							</a>
						</div>
					</div>
				</div>
				<div class="header collapse d-lg-flex p-0" id="headerMenuCollapse">
					<div class="container">
						<div class="row align-items-center">
							<div class="col-lg order-lg-first">
								<ul class="nav nav-tabs border-0 flex-column flex-lg-row">
									<li class="nav-item"> <a href="/admin" class="nav-link"> Dashboard</a> </li>
									<li class="nav-item"> <a href="/admin/clientes" class="nav-link"> Clientes</a> </li>
									<li class="nav-item"> <a href="/admin/pedidos" class="nav-link"> Pedidos</a> </li>
									<li class="nav-item"> <a href="/admin/cozinha" class="nav-link"> Cozinha</a> </li>
									<li class="nav-item"> <a href="/admin/balcao" class="nav-link active"> Balcão</a> </li>
									<li class="nav-item"> <a href="/admin/settings" class="nav-link"> Configurações</a> </li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="my-3 my-md-5">
					<div class="container">
						{{> balcao}}
					</div>
				</div>
			</div>
		</div>
	{{/if}}
</template>
