<template name="buyOverlay">
  <div class="overlay buy">
    <a href="#" class="js-close-overlay overlay-dismiss"><span class="icon-cross"></span></a>

    <div class="wrapper-heading">
			<div class="title-overlay">Confirmar</div>
			<div class="subtitle-overlay">Para confirmar o pedido digite o seu código no campo abaixo</div>

			<form>
				<input name="code" placeholder="Código" type="number" class="code">
			</form>
		</div>
		<div class="wrapper-alert">
			<div class="alert">Código incorreto. Tente novamente.</div>
		</div>
		<div class="wrapper-alert">
			<div class="alert-newcode">O código informado é diferente do utilizado anteriormente: {{ code }}. <br />Deseja mudar para o código informado?</div>
		</div>
    <button class="js-buy btn-confirm">Confirmar</button>
  </div>
</template>
