<template name="codeOverlay">
  <div class="overlay code">
    <a href="#" class="js-close-overlay overlay-dismiss"><span class="icon-cross"></span></a>

    <div class="wrapper-heading">
      <div class="title-overlay">Confirmar</div>
			<div class="subtitle-overlay">Digite o seu código no campo abaixo</div>

			<form>
				<input name="code" placeholder="Código" type="number" class="code">
			</form>
		</div>
		<div class="wrapper-alert">
			<div class="alert">Código incorreto. Tente novamente.</div>
		</div>
		<button class="js-call btn-confirm">Confirmar</button>
	</div>
</template>
