<template name="order">

	<div class="page recipe {{activeTabClass}}">
		{{>nav title=title black=true back=true}}

		<div class="image-recipe" style="background-image: url('{{recipeImage recipe=this size='full'}}')"></div>

		<div class="attribution-recipe js-uncollapse">
			<h1 class="title-recipe">{{title}}</h1>
			<div class="metadata-wrapper">
				<p class="description-recipe">{{excerpt}}</p>
				<span class="source">R$ {{moneyFormat price}}</span>
				<span class="time">{{size}}</span>
			</div>

			<div class="btns-group">
				<button class="btn-primary js-buy">Comprar</button>
			</div>
		</div>
	</div>
</template>
