<template name="order">

	<div class="page item {{activeTabClass}}">
		{{>nav title=title black=true back=true}}

		<div class="item-image" style="background-image: url('{{itemImage item=this size='full'}}')"></div>

		<div class="item-attribution js-uncollapse">
			<h1 class="item-title">{{title}}</h1>
			<div class="metadata-wrapper">
				<p class="item-description">{{excerpt}}</p>
				<span class="source">R$ {{moneyFormat price}}</span>
				<span class="time">{{size}}</span>
			</div>

			<div class="btns-group">
				<button class="btn-primary js-buy">Comprar</button>
			</div>
		</div>
	</div>
</template>
